@font-face {
  font-family: 'Circular';
  src: url('../../shared/assets/fonts/CircularStd-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Circular';
  src: url('../../shared/assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Circular';
  src: url('../../shared/assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Circular';
  src: url('../../shared/assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
}
